h6 {
    font: {
        family: San-serif;
        size: 15px;
        weight: normal;
    }
    color: white;
    margin-left: 15px;
}
h2 {
    font: {
        family: San-serif;
        size: 20px;
        font-weight: normal;
    }
    color: white;
    margin-left: 15px;
}
p {
    font: {
        family: San-serif;
        size: 10px;
        weight: normal;
    }
    color: white;
    position: relative;
    left: 55%;
    margin-bottom: -10px;
}