input {
    width: 55%;
    background-color: white;
    color: black;
    font-weight:  bold;
    border: none;
    box-shadow: 1px 1px 1px rgb(109, 106, 106);
    border-radius: 10px;
    padding: 10px 100px 10px 10px;
    margin-top: 15px;
    margin-left: 20px;
}